/*Estilos Gerais*/
body{
font-family: Arial, Helvetica, sans-serif;
background: #eed8d8;
}

p, h1, h2, h3 {
    margin: 0px;
}


/*Layout*/
.grid{
   display: grid;
   justify-items: center;
   gap: 60px;
}

.logo{
    margin-top: 40px;
}

.session{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex:1;

}

.session a{
    text-decoration: none;
    color: #000000;
    background: #fff;
    padding: 15px 30px;
    border-radius: 5px;
   
}

.main{
    max-width: 1000px;
    display: grid;
    grid-column: repeat(2,1fr); 
     
}

.preface{
    background: #fff;
    padding: 40px;
    display: grid; 
    align-content: center; /* Alinha o grid */
    justify-items: end; /*Alinha os itens do grid*/
    gap: 20px;

  
}

.preface p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: right;
    line-height: 1.3;
}

.button{
    text-decoration: none;
    background: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    justify-self: end;
}
    
.bike{
    max-width: 100%;
    display: block;
    grid-column: 2;
    grid-row: 1/-1;

}


.vantagens{
    padding: 40px;
    align-self: center;
    line-height: 1.2;
    font-size: 64px;
    color: rgba(0, 0, 0, 0.2);
    text-align: right;     
}

.detalhes {
    background: #fff;
    padding: 40px;
    display: grid;
    
}

.detalhes img {
    grid-column: 1;
 
}

.detalhes p {
    grid-column: 2;
}

.rodape {
    width: 100% ;  
    background: #fff;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.detalhes-descricao {
    padding: 20px;
    display: grid;   
    gap: 10px;    
}




 