/*Estilos Gerais*/
body{
margin: 0;
font-family: Arial, Helvetica, sans-serif;
background: #f7f7f7;
}

/*Estilos da pagina*/
.grid{
   display: grid;
   justify-items: center;
   gap: 60px;
}

.logo{
    margin-top: 40px;
}

.session{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.session a{
    text-decoration: none;
    color: #000000;
    background: #fff;
    padding: 15px 30px;
    border-radius: 5px;
   
}

.main{
    width: 1000px;
    display: grid;
    grid-column: auto;   
}

.preface{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(3,auto);
    text-align: right;
    place-items: center end;
    justify-content:end;
    
}

.button{
    text-decoration: none;
    background: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.bike{
    max-width: 100%;
    display: block;
    grid-column: 2;
    grid-row: 1/-1;
}


