/*Estilos Gerais*/

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background: #f7f7f7;
    display: grid;
    gap: 45px;
    
}

H1,h2,h3,h4,p{
    margin: 0px;
    
}
p {
    font-size: 1.25rem;
    line-height: 1.3;
}
h1{
    font-size: 2rem;
}
 

/*header*/
header{
    margin-top: 40px;
    display: grid;
    justify-items: center;
    gap: 60px;
}

.menu{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
}

.menu li{
    padding: 1rem 2rem;
    border: 2px solid rgb(255, 255, 255);
    
}

.item-menu , a{
    display: block;
    list-style: none;
    text-decoration: none;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    color: black;
    
}

.item-menu:hover{
    border: 2px solid rgb(230, 35, 35);
    border-radius: 4px;
    transition: 0,3s;
}

.bike{
    display:block;
    max-width: 100%; 
}

/*Conteudo Principal*/
main{
    display: grid;
    grid-template-columns: 1fr;
    justify-items:center ;
    
}

.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
}

.introducao-produto{
    background: white;
    display: grid;
    gap: 20px;
    text-align: right;
    padding: 40px;
    align-content: center;
    justify-items: end;

}
.introducao-produto h1{
    position: relative;
}

.introducao-produto h1::after{
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background: red;
    position: absolute;
    top: -50px;
    right: -70px;
    
}

.introducao-produto a {
    background: red;
    color:white;
    padding: 12px 20px;
}

.introducao-produto a:hover{
    background: rgb(184, 0, 0);
    transition: 0,3s;
}

.bike{
    display:block;
    max-width: 100%;
}

.vantagens{
    background-image: url(./img/onda.svg);
    padding: 40px;
    font-size: 4rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.2);
    text-align: right;
    align-self:center ;
}

.vantagens-produto{
    background: white;
    padding: 40px;
    margin: 0px;
    
}

.vantagens-items{
    display:grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    padding: 20px;
    list-style: none;
    justify-self: start;
}

.vantagens-items:hover{
    border-left:4px solid red ;
}


.vantagens-items p{
    grid-column: 2;
}

.vantagens-items:nth-child(odd) {
    background: #e7e7e7;
}

/*Rodapé*/

.rodapé{
    text-align: center;
    background: white;
    padding: 35px;
    width: 100%;
    box-sizing: border-box;
    
}







