div{
    background:#aaa;
    width: 150px;
    height: 80px;
    padding: 10px;
    border: 10px solid #000;
    margin: 30px;


}
/* Começar sempre retirando a margin que vem por padrão do body*/
body {
    margin: 0px;
}
/*H1  também é um elemento de bloco*/
h1 {
    background: rgb(255, 255, 255);
    padding: 20px;
    border: 2px solid #111;
    margin: 20px;
    color: rgba(25, 59, 209, 0.932)
}